# installing libraries and configuring openai API key

In [1]:
import openai
import pandas as pd
import os
from sqlalchemy import create_engine, text
os.environ['API_KEY']="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"
openai.api_key = os.getenv('API_KEY')
print(openai.api_key)

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

# Loading and inspecting data from csv

In [2]:
data_frame = pd.read_csv("customer_orders.csv")
data_frame.head(5)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

# Creating in Memory sqlite database and table from data_frame

In [3]:
engine = create_engine("sqlite:///:memory:",echo = True)
data_frame.to_sql('SalesTable',engine)

2025-04-13 17:37:04,396 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-13 17:37:04,402 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SalesTable")
2025-04-13 17:37:04,402 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-04-13 17:37:04,403 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SalesTable")
2025-04-13 17:37:04,405 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-04-13 17:37:04,407 INFO sqlalchemy.engine.Engine
CREATE TABLE "SalesTable" (
	"index" BIGINT,
	"ORDERNUMBER" BIGINT,
	"QUANTITYORDERED" BIGINT,
	"PRICEEACH" FLOAT,
	"ORDERLINENUMBER" BIGINT,
	"SALES" FLOAT,
	"ORDERDATE" TEXT,
	"STATUS" TEXT,
	"QTR_ID" BIGINT,
	"MONTH_ID" BIGINT,
	"YEAR_ID" BIGINT,
	"PRODUCTLINE" TEXT,
	"MSRP" BIGINT,
	"PRODUCTCODE" TEXT,
	"CUSTOMERNAME" TEXT,
	"PHONE" TEXT,
	"ADDRESSLINE1" TEXT,
	"ADDRESSLINE2" TEXT,
	"CITY" TEXT,
	"STATE" TEXT,
	"POSTALCODE" TEXT,
	"COUNTRY" TEXT,
	"TERRITORY" TEXT,
	"CONTACTLASTNAME" TEXT,
	"CONTACTFIRSTNAME" TEXT,
	"DEALSIZE" TEXT
)


2025-04-13 17:37:04,408 INFO sqlalchemy.engine.Engine [no key 0.00062s] ()
2025-04-13 17:37:04,409 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_SalesTable_index" ON "SalesTable" ("index")
2025-04-13 17:37:04,409 INFO sqlalchemy.engine.Engine [no key 0.00069s] ()
2025-04-13 17:37:04,537 INFO sqlalchemy.engine.Engine INSERT INTO "SalesTable" ("index", "ORDERNUMBER", "QUANTITYORDERED", "PRICEEACH", "ORDERLINENUMBER", "SALES", "ORDERDATE", "STATUS", "QTR_ID", "MONTH_ID", "YEAR_ID", "PRODUCTLINE", "MSRP", "PRODUCTCODE", "CUSTOMERNAME", "PHONE", "ADDRESSLINE1", "ADDRESSLINE2", "CITY", "STATE", "POSTALCODE", "COUNTRY", "TERRITORY", "CONTACTLASTNAME", "CONTACTFIRSTNAME", "DEALSIZE") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-04-13 17:37:04,537 INFO sqlalchemy.engine.Engine [generated in 0.09051s] [(0, 10107, 30, 95.7, 2, 2871.0, '2/24/2003 0:00', 'Shipped', 1, 2, 2003, 'Motorcycles', 95, 'S10_1678', 'Land of Toys Inc.', '2125557818', '897 Long Airport Avenue', None, 'NYC', 'NY', '10022', 'USA', None, 'Yu', 'Kwai', 'Small'), (1, 10121, 34, 81.35, 5, 2765.9, '5/7/2003 0:00', 'Shipped', 2, 5, 2003, 'Motorcycles', 95, 'S10_1678', 'Reims Collectables', '26.47.1555', "59 rue de l'Abbaye", None, 'Reims', None, '51100', 'France', 'EMEA', 'Henriot', 'Paul', 'Small'), (2, 10134, 41, 94.74, 2, 3884.34, '7/1/2003 0:00', 'Shipped', 3, 7, 2003, 'Motorcycles', 95, 'S10_1678', 'Lyon Souveniers', '+33 1 46 62 7555', '27 rue du Colonel Pierre Avia', None, 'Paris', None, '75508', 'France', 'EMEA', 'Da Cunha', 'Daniel', 'Medium'), (3, 10145, 45, 83.26, 6, 3746.7, '8/25/2003 0:00', 'Shipped', 3, 8, 2003, 'Motorcycles', 95, 'S10_1678', 'Toys4GrownUps.com', '6265557265', '78934 Hillside Dr.', None, 'Pasadena', 'CA', '90003', 'USA', None, 'Young', 'Julie', 'Medium'), (4, 10159, 49, 100.0, 14, 5205.27, '10/10/2003 0:00', 'Shipped', 4, 10, 2003, 'Motorcycles', 95, 'S10_1678', 'Corporate Gift Ideas Co.', '6505551386', '7734 Strong St.', None, 'San Francisco', 'CA', None, 'USA', None, 'Brown', 'Julie', 'Medium'), (5, 10168, 36, 96.66, 1, 3479.76, '10/28/2003 0:00', 'Shipped', 4, 10, 2003, 'Motorcycles', 95, 'S10_1678', 'Technics Stores Inc.', '6505556809', '9408 Furth Circle', None, 'Burlingame', 'CA', '94217', 'USA', None, 'Hirano', 'Juri', 'Medium'), (6, 10180, 29, 86.13, 9, 2497.77, '11/11/2003 0:00', 'Shipped', 4, 11, 2003, 'Motorcycles', 95, 'S10_1678', 'Daedalus Designs Imports', '20.16.1555', '184, chausse de Tournai', None, 'Lille', None, '59000', 'France', 'EMEA', 'Rance', 'Martine', 'Small'), (7, 10188, 48, 100.0, 1, 5512.32, '11/18/2003 0:00', 'Shipped', 4, 11, 2003, 'Motorcycles', 95, 'S10_1678', 'Herkku Gifts', '+47 2267 3215', 'Drammen 121, PR 744 Sentrum', None, 'Bergen', None, 'N 5804', 'Norway', 'EMEA', 'Oeztan', 'Veysel', 'Medium')  ... displaying 10 of 2823 total bound parameter sets ...  (2821, 10397, 34, 62.24, 1, 2116.16, '3/28/2005 0:00', 'Shipped', 1, 3, 2005, 'Ships', 54, 'S72_3212', 'Alpha Cognac', '61.77.6555', '1 rue Alsace-Lorraine', None, 'Toulouse', None, '31000', 'France', 'EMEA', 'Roulet', 'Annette', 'Small'), (2822, 10414, 47, 65.52, 9, 3079.44, '5/6/2005 0:00', 'On Hold', 2, 5, 2005, 'Ships', 54, 'S72_3212', 'Gifts4AllAges.com', '6175559555', '8616 Spinnaker Dr.', None, 'Boston', 'MA', '51003', 'USA', None, 'Yoshido', 'Juri', 'Medium')]
2025-04-13 17:37:04,568 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-04-13 17:37:04,568 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-04-13 17:37:04,570 INFO sqlalchemy.engine.Engine COMMIT

2823

# Making SQL prompt for openai

In [8]:
def construct_prompt(df):
    columns = ",".join(df.columns)
    user_input = input("Enter your natural language query: ")
    return f"Given a database table SalesTable with columns {columns}, {user_input}. Construct a SQL query to achieve this.just give the SQL not surrounded by ''' sql '''"

In [9]:
prompt = construct_prompt(data_frame)
print(prompt)

Enter your natural language query:  give the total sales value

Given a database table SalesTable with columns ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE, give the total sales value. Construct a SQL query to achieve this.just give the SQL not surrounded by ''' sql '''

# Generating SQL query and executing it.

In [10]:
response = openai.ChatCompletion.create(
    model="gpt-4o",
    messages=[
        {"role": "user", "content": prompt}
    ],
    temperature=0,
    max_tokens=150
)
query = response["choices"][0]["message"]["content"].strip()
print(query)

SELECT SUM(SALES) AS TotalSalesValue FROM SalesTable;

In [11]:
def execute_sql_query(connection,query):
    result_obj = connection.execute(text(query)) 
    return result_obj.fetchall()

In [12]:
with engine.connect() as conn:
    result_obj = execute_sql_query(conn,query)
print(result_obj)

2025-04-13 17:38:58,465 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-13 17:38:58,466 INFO sqlalchemy.engine.Engine SELECT SUM(SALES) AS TotalSalesValue FROM SalesTable;
2025-04-13 17:38:58,466 INFO sqlalchemy.engine.Engine [generated in 0.00275s] ()
2025-04-13 17:38:58,468 INFO sqlalchemy.engine.Engine ROLLBACK
[(10032628.85,)]